annotated-types
anyio
click
fastapi
fastapi-prometheus-exporter
h11
idna
prometheus-client
prometheus-fastapi-instrumentator
pydantic
pydantic_core
sniffio
starlette
typing-inspection
typing_extensions
uvicorn
requests
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-exporter-otlp-proto-grpc